<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sneakers23</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=optional" rel="stylesheet">
    <link
      rel="stylesheet"
      href={~p"/assets/admin.css"} />
  </head>
  <body>
    <header>
      <h2><.link href={~p"/"}>Sneakers23</.link></h2>
    </header>

    <%= @inner_content %>

    <script
      type="text/javascript"
      src={~p"/assets/admin.js"}></script>
  </body>
</html>